* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: rgb(32, 32, 32);
    --secondaryColor: rgb(138, 138, 138);
    --lightColor: rgb(255, 255, 255);
    --highlightColor: rgb(0, 181, 160);

    --primaryBorderRadius: 50px;
    --secondaryBorderRadius: 15px;
    --smallBorderRadius: 5px;

    --primaryFont: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background-color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-weight: 500;
}

/* ---------- COMPONENTS ---------- */

.wrapper {
    z-index: 1000;
}

/* BUTTONS */

.primary-button {
    width: 110px;
    height: 30px;
    border-radius: var(--primaryBorderRadius);
    background-color: var(--highlightColor);
    color: var(--lightColor);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: filter 400ms;
}

.primary-button:hover {
    filter: brightness(0.75);
}

.secondary-button {
    color: var(--lightColor);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 400ms;
    padding: 8px;
    border-radius: var(--smallBorderRadius);
}

.secondary-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* INPUTS */

.input {
    border: 2px solid var(--secondaryColor);
    border-radius: var(--smallBorderRadius);
    width: 400px;
    height: 50px;
    outline-color: var(--highlightColor);
    outline-offset: 3px;
    outline-width: thick;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.1em;
    color: var(--primaryColor);
}

.input:invalid {
    outline-color: rgb(255, 75, 75);
}

.textarea {
    border: 2px solid var(--secondaryColor);
    border-radius: var(--smallBorderRadius);
    min-width: 400px;
    max-width: 400px;
    min-height: 150px;
    max-height: 150px;
    outline-color: var(--highlightColor);
    outline-offset: 3px;
    outline-width: thick;
    padding: 10px;
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.1em;
    color: var(--primaryColor);
}

.textarea:invalid {
    outline-color: rgb(255, 75, 75);
}

.checkbox {
    width: max-content;
    height: 30px;
    padding: 10px;
    border-radius: var(--primaryBorderRadius);
    background-color: rgb(235, 235, 235);
    color: var(--primaryColor);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 400ms;
}

.checkbox input {
    display: none;
}

.checkbox p {
    width: 28px;
    height: min-content;
}

.checkbox h3 {
    width: max-content;
    font-weight: 500;
    font-family: var(--primaryFont);
    font-size: 1rem;
}

.checkbox:hover {
    background-color: rgb(182, 220, 215);
}

.checkbox-checked {
    background-color: var(--highlightColor) !important;
}

.radio {
    width: 130px;
    height: 150px;
    border: 2px solid var(--secondaryColor);
    border-radius: var(--smallBorderRadius);
    transition: background-color 400ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio img {
    width: 80%;
}

.radio:hover {
    background-color: rgba(182, 220, 215, 0.25);
}

.radio-checked {
    background-color: var(--highlightColor) !important;
}

.radio input {
    display: none;
}

/* ---------- LOADING SCREEN ---------- */

#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primaryColor);
}

#loading-screen a {
    font-family: 'Bungee', cursive;
    text-decoration: none;
    color: white;
    height: 45px;
    cursor: default;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

#loading-screen a h1 span {
    color: var(--highlightColor);
}

@keyframes loading {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

/* ---------- HEADER ---------- */

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #left-nav {
    width: 10%;
    height: 50px;
    font-family: 'Bungee', cursive;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav #left-nav a {
    text-decoration: none;
    color: white;
    height: 45px;
}

nav #left-nav a h1 span {
    color: var(--highlightColor);
}

nav #menu-button {
    display: none;
    border: none;
    background-color: transparent;
    height: 40px;
    margin-left: 70px;
}

nav #menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

nav #menu-button svg {
    width: 20px;
    filter: invert();
}

nav #middle-nav {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #right-nav {
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #profile-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--highlightColor);
    cursor: pointer;
    transition: filter 400ms;
    margin-top: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #profile-button img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 2.25px;
}

nav #profile-button:hover {
    filter: brightness(0.75);
}

nav #logout-button {
    margin-top: 15px;
    margin-left: 35px;
}

/* ---------- MAIN TIMELINE ---------- */

main {
    height: calc(100% - 60px);
}

#milestones {
    width: 100%;
    height: 700px;
    background: rgb(32,32,32);
    background: linear-gradient(180deg, rgba(32,32,32,1) 0%, rgb(60, 60, 60) 47%, rgb(60, 60, 60) 53%, rgba(32,32,32,1) 100%);
    overflow-y: scroll;
    margin-top: calc(25% - 375px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 38px 38px 38px 0px;
}

#milestones-empty, #milestones-no-login {
    width: 100%;
    height: 80%;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
}

#milestones-empty img, #milestones-no-login img {
    width: 150px;
    margin-bottom: 25px;
}

#milestones-empty p, #milestones-no-login p {
    text-align: center;
    font-size: 1.35rem;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    height: 10px;
    display: none;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    transition: background-color 400ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/* ---------- MILESTONES ---------- */

.milestone {
    width: calc(250px);
    height: max-content;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: var(--secondaryBorderRadius);
    margin-left: 38px;
}

.milestone .milestone-text {
    padding: 15px;
}

.milestone h2 {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: calc(1.5em * 0.75);
}

.text-milestone h2 {
    margin-top: -25px;
}

.milestone .milestone-categories {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: 10px;
}

.milestone .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
    font-size: calc(0.85rem * 0.75);
    border-radius: var(--primaryBorderRadius);
    background-color: var(--highlightColor);
    margin-left: 10px;
    margin-bottom: 10px;
}

.milestone .category h3 {
    margin-left: 5px;
    font-size: calc(0.75rem * 0.75);
    color: var(--lightColor);
}

.milestone img {
    width: 100%;
    height: calc(200px * 0.75);
    object-fit: cover;
    border-top-left-radius: var(--secondaryBorderRadius);
    border-top-right-radius: var(--secondaryBorderRadius);
    margin-top: -30px;
}

.milestone .description {
    font-size: calc(16px * 0.75);
}

.delete-milestone {
    width: 30px;
    height: 30px;
    position: relative;
    top: -10px;
    left: 230px;
    transform: scale(0.75);
    font-size: 1.75rem;
    color: var(--primaryColor);
}

/* ---------- TOOLS SECTION ---------- */

#tools {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

#tools button {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    box-shadow: 0px 0px 10px 1px black;
}

#tools button svg {
    width: 30px;
}

#tools div {
    width: 350px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tools .secondary-button svg {
    width: 12px;
    filter: invert();
    margin-right: 10px;
}

/* ---------- ADD ENTRY FORM ---------- */

#shader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    align-items: center;
    justify-content: center;
    transition: background-color 400ms;
}

#shader #add-milestone {
    background-color: white;
    border-radius: var(--secondaryBorderRadius);
    width: 650px;
    height: 600px;
    display: none;
}

#shader #add-milestone #form-container {
    width: 650px;
    height: 500px;
    overflow: hidden;
}

#shader #add-milestone #exit-popup {
    width: 30px;
    height: 30px;
    position: relative;
    top: -10px;
    left: 630px;
}

#shader #add-milestone button svg {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

#shader #add-milestone form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    transition: transform 750ms;
}

#form-2 {
    transform: translateY(-550px) translateX(650px);
}

#shader #categories {
    width: 415px;
    margin-left: -15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#shader #categories .checkbox {
    margin-top: 20px;
    margin-left: 15px;
}

#categories #add-category {
    width: 30px;
    height: 30px;
    background-color: rgb(235, 235, 235);
    margin-top: 20px;
    margin-left: 15px;
}

#categories svg {
    width: 20px;
    height: 20px;
}

#shader #layouts {
    width: 415px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

#shader #add-milestone button[type='submit'] {
    width: 150px;
    font-size: 1rem;
    font-weight: 600;
}

#add-milestone #form-bottom {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(50% - 200px)
}

#add-milestone #form-bottom div {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add-milestone #form-bottom div button {
    width: 30px;
    height: 30px;
    background-color: lightgray;
}

/* EDIT CATEGORIES */

#edit-categories {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: var(--lightColor);
    border-top-left-radius: var(--secondaryBorderRadius);
    border-bottom-left-radius: var(--secondaryBorderRadius);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(300px);
    transition: transform 500ms;
}

#edit-categories form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 85%;
}

#edit-categories form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 245px;
}

#edit-categories form div input {
    width: 185px;
    height: 40px;
}

#edit-categories form div button {
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
}

#edit-categories #save {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
}

/* IMAGE UPLOAD */

#upload-image {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#image-preview {
    width: 225px;
    height: 100%;
    border: 2px solid var(--secondaryColor);
    border-radius: var(--smallBorderRadius);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(182, 220, 215);
}

#image-preview p {
    font-size: 1.2rem;
    text-align: center;
}

#image-preview p span {
    font-size: 1.5rem;
}

#image-preview #preview {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image-dropper {
    width: 150px;
    height: 100%;
    border: 2px dashed var(--secondaryColor);
    border-radius: var(--smallBorderRadius);
    outline-color: var(--highlightColor);
    outline-offset: 3px;
    outline-width: thick;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 400ms;
    cursor: pointer;
}

#image-dropper:hover {
    background-color: rgba(182, 220, 215, 0.25);
}

#image-dropper:invalid {
    outline-color: rgb(255, 75, 75);
}

#image-dropper input {
    display: none;
}

#image-dropper h3 {
    text-align: center;
}

#image-dropper h3 span {
    font-size: 1.5rem;
    color: var(--primaryColor);
}

/* ---------- LOGIN FORM ---------- */

#shader #login {
    background-color: white;
    border-radius: var(--secondaryBorderRadius);
    width: 500px;
    height: 400px;
}

#shader #login #exit-login {
    width: 30px;
    height: 30px;
    position: relative;
    top: -10px;
    left: 480px;
}

#shader #login button svg {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

#login-form, #register-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

#register-form {
    height: 250px;
    margin-top: 85px;
}

#login-title, #register-title {
    margin-top: -100px;
    font-size: 2rem;
    font-family: 'Bungee', cursive;
}

#login-bottom, #register-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 65px;
}

#login-bottom a, #register-bottom a {
    color: var(--highlightColor);
}

/* ---------- MEDIA QUERIES ---------- */

@media only screen and (max-width: 1100px) {
    nav #middle-nav {
        display: none;
        width: 175px;
        height: -0px;
        padding: 15px;
        flex-direction: column;
        background-color: var(--highlightColor);
        border-radius: var(--secondaryBorderRadius);
        position: fixed;
        top: 60px;
        left: calc(50% - 87.5px);
        z-index: 200;
        transition: height 500ms;
        overflow: hidden;
    }

    nav #menu-button {
        display: block;
    }
}

@media only screen and (max-width: 650px) {
    .hide-on-650 {
        display: none;
    }

    #tools .secondary-button svg {
        width: 18px;
        margin-right: 0px;
    }

    #tools div {
        width: 100px;
        margin-right: 0px;
    }
}